/** template */
.r1020{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.ig01{
    margin: -10px;
    >div{padding: 10px;}
}

//所有的廣告容器
.miission-clik, .ad-block, .kv{
    a, img{display: block;}
    &, a{overflow: hidden;}
    img{width: 100%;}
}

//廣告任務牆 index
.mission-wall{
    .item{
        padding: 0 0 30px;
        &.off{
            opacity: .6;
            a{pointer-events: none;}
        }
    }
    .item-inner{
        box-shadow: 0 0 5px rgba(#000,.1);
        position: relative;
        &.off:before{
            @include fake-b(101%,101%);
            background: rgba(#fff,.5);
            @include abs();
            z-index: 4;
            
        }
    }
    .node-mobile{width: 100%;}
    .title{padding: 0 0 10px;}
    .item-main{padding: 20px 20px 20px 25px;}
    .figure{
        width: 80px;
        height: auto;
    }
    .text{
        width: calc(100% - 80px);
        padding-left: 20px;
    }
    .desc{padding-bottom: 8px;}
    .tg-content{
        display: none;
        padding: 20px 25px;
    }
    .on{
        .tg-content{display: block;}
    }
}

// 看廣告 mission-video
.circle{
    width: 24px; height: 24px;
    background: #bbb;
    border-radius: 50%;
    margin: 0 8px;
    &.on{
        background: $color1;
    }
}
.miission-clik{
    &.off{
        pointer-events: none;
        position: relative;
        &::before{
            @include fake-b(101%,101%);
            background: rgba(#555,.7);
            @include abs();
        }
    }
}

//看文章 mission-article
.mission-article{background: #fff;}

//倒數提示 mission-video, mission-article
.prompt{
    background: $color2;
    position: relative;
    min-height: 70px;
    .btn02{line-height: 42px;}
}
#countdown{    
    background: $color2;
    @include abs();
    width: 100%; height: 100%;
    min-height: 70px;
}
.timer{padding: 0 10px;}
#content+.prompt{min-height: 100px;}

//輪播
.sw01{
    .swiper-slide{width: 100%;}
}
.swiper-pagination-bullet{
    background: #ccc;
    &.on{background: $color2;}
}
.v-desktop{display: none;}

@media screen and (min-width: 480px) {
    .sw01{
        margin: 0 -10px;
        .swiper-slide{
            width: 50%;
            padding: 0 10px;
        }
    }
}
@media screen and (min-width: 900px) {
    .sw01{
        .swiper-slide{width: 33.333%;}
    }
}

@media screen and (min-width: 1024px) {
    .v-mobile{display: none;}
    .v-desktop{display: block;}
}
@media screen and (min-width: 1024px) {
    .r1020{border-radius: 20px;}
    .mission-wall{
        .item-inner{padding: 30px 40px;}
        .item-main{
            padding: 0;
            align-items: center;
        }
        .figure{width: 140px;}
        .text{
            width: calc(100% - 140px);
            padding-left: 30px;
        }
        .desc{padding-bottom: 15px;}
        .tg-content{
            display: none;
            padding: 20px 0 0;
        }
    }
}

//hover
@media (hover: hover){
}