//font
$fontsize:(12,14,16,18,24,30);
@each $i in $fontsize {
    .fs#{$i} {@include font($i);}
}
.fs1214{@include font(12,14);}
.fs1416{@include font(14,16);}
.fs1618{@include font(16,18);}
.fs1820{@include font(18,20);}
.fs2530{@include font(25,30);}
.lh1{line-height: 1;}
.lh12{line-height: 1.2;}
.lh16{line-height: 1.6;}

//按鈕
.btn01, .btn02, .btn03, .btn04{
    display: inline-block;
    text-align: center;
    @include font(14,16);
    padding: 0 20px;
    line-height: 36px;
    white-space: nowrap;
}
.btn01, .btn02, .btn04{
    color: #fff;
}
.btn01{
    background: #119FA8;
    border-radius: 50px;
    border: none;
}
.btn03, .btn04{width: 100%;}
.btn02{
    background: $color1;
    border-radius: 50px;
    &.off{
        pointer-events: none;
        filter: saturate(0);
    }
}
.btn03{background: #f7f7f7;}
.btn04{
    background: #999;
    &::after{
        @include fake-ib(8px,8px);
        background-image: url(#{$img}icon-plus.svg);
        background-size: contain;
        margin: -2px 0 0 5px;
        opacity: 0.8;
    }
}
.on .btn04:after{background-image: url(#{$img}icon-minus.svg);}

//任務列表 mission-list
.tb-wrap {
    overflow-x: auto;
    table{border-collapse: collapse;}
}
.tb-js{
    overflow-x: hidden;
    thead, th {
        display:none;
        tr, th{display:none;}
    }
    tr{
        display:flex;
        flex-wrap: wrap;
        position:relative;
    }
    td{
        text-align:left;
        &:before {
            content:attr(data-txt);
            display: inline-block;
            vertical-align: middle;
            @include font(12);
            color: #999;
            margin: -6px 5px 0 0;
        }
    }
}
.tb02{
    table{width: 100%;}
    tr, td{transition: .3s;}
    tr{
        background: #f7f7f7;
        padding: 15px 20px;
        border-radius: 10px;
        align-items: center;
        margin: 10px 0;
        overflow: hidden;
    }
    .td-link{
        width: 100%;
        &::before{display: none;}
    }
    .td-point{padding-right: 20px;}
    .item{
        padding-bottom: 5px;
        a{display: block;}
    }
    .figure{
        width: 40px;
    }
    img{
        border-radius: 5px;
        overflow: hidden;
    }
    .title{padding-left: 10px;}
    strong{line-height: 1;}
    .off{
        opacity: .6;
        a{pointer-events: none;}
        td{background: #ddd;}
    }
}

//步驟說明
.list01{
    ul, ol{
        margin: 0;
        padding-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .tb-wrap{
        .btn-wrap .icon:hover{transform: scale(1.1);}
    }
    .tb-js{
        padding:1px;
        table{border-top:none;}
        thead {
                display:table-header-group;
                tr{display:table-row;}
            th{display:table-cell;}
        }
        th{display:table-cell;}
        tr {
                display:table-row;
                position:static;
                margin:0; padding:0;
                border:0 none;
            }
        td {
                display:table-cell;
                &:before { content:none; display:none;}
        }
    }
    .tb02{
        th, td{border-bottom: 1px solid #ddd;}
        th{
            background: #eee;
            font-weight: 400;
            padding: 5px;
        }
        td{
            background: #fff;
            text-align: center;
            padding: 0 15px;
        }
        .td-link{width: auto;}
        .item{
            align-items: center;
            padding-bottom: 0;
        }
        .figure{
            width: 70px;
            padding: 10px 0;
        }
    }
}
@media screen and (min-width: 1024px) {
    .btn01, .btn02, .btn03, .btn04{line-height: 40px;}
    .btn03, .btn04{border-radius: 50px;}
    .btn04::after{
        width: 10px; height: 10px;
    }
}

@media (hover: hover){
    .btn01, .btn02, .btn04{
        &:hover{
            color: #fff;
            text-decoration: none;
            transform: scale(0.95);
        }
    }
    .tb02{
        tr:not(.off):hover{
            td{background: #fbfbfb;}
        }
    }
}