<div class="ad-wrap st1 mt2">
    <div class="w08">
        <!--如果是影片-->
        <div class="tr fs16">贊助商</div>
        <div class="video-wrap r1020">
            <video controls width="" height="" title="" preload="none" autoplay="" muted="" playsinline="" loop="">
                <source src="../images/video.mp4" type="video/mp4">
            </video>
        </div>
        <!--如果是圖片-->
        <div class="tr fs16">贊助商</div>
        <div class="row ig01">
            <div class="col">
                <a class="d-block r1020" href="#" target="_blank" title="">
                    <img src="../images/figure06.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a class="d-block r1020" href="#" target="_blank" title="">
                    <img src="../images/figure06.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>