{% extends '_layout.twig' %}
{% block main %}
    <div class="mission-video pd1">
        <div class="w08 r1020 pd1 sy2 my3">
            <h1 class="tc fs1820 fw5 c0 sb05">{{ mission.title }}</h1>
            <div class="row fjcc sx1 sy1 w03">
                <div class="figure r1020">
                    <img src="../images/figure03.jpg" alt="">
                </div>
            </div>
            <div class="st1 tc">
                <a class="btn02 fw7" href="mission-download-ok.html" title="點此下載APP開始任務">點此下載APP開始任務</a>
            </div>
            <div class="tc fs1416 fw4 st2">※待完成任務後將跳至任務完成頁---若無需秀任務流程則秀這個</div>
            <div class="list list01 row fjcc st2">
                <ol class="fs1416 fw4">
                    <li>若需要秀任務流程則秀這個</li>
                    <li>透過連結下載____APP</li>
                    <li>開啟____APP並註冊會員</li>
                    <li>等待審核</li>
                    <li>審核通過發放點數</li>
                </ol>
            </div>
        </div>
        {% include "_adblock.twig" %}
    </div>
{% endblock %}