{% extends '_layout.twig' %}
{% block main %}
    <div class="mission-video pd1 sy1">
        <div class="w08 r1020 pd1 sy2 my3">
            <div class="figure">
                <img src="../images/icon-check.svg" width="120" height="120" alt="">
            </div>
            <div class="tc pd1 sy1">
                <h1 class="tc fs2530 fw5 c0 sb1">恭喜您已完成任務流程，點數待入帳</h1>
                <a class="btn02 fw7" href="mission-list-download.html" title="回到任務列表">回到任務列表</a>
            </div>
        </div>
        {% include "_adblock.twig" %}
    </div>
{% endblock %}