{% extends '_layout.twig' %}
{% block main %}
    <div class="mission-video pd1 sy1">
        <div class="w08 r1020 pd1 sy2 my3">
            <div class="figure">
                <img src="../images/icon-check.svg" width="120" height="120" alt="">
            </div>
            <div class="tc pd1 sy1">
                <h1 class="tc fs2530 fw5 c0 sb1">恭喜您已完成任務流程</h1>
                <!-- 無任務列表 -->
                <a class="btn02 fw7" href="index.html" title="點我取點並返回">點我取點並返回</a>
                <!-- 有任務列表 -->
                <a class="btn02 fw7" href="mission-list.html" title="返回上頁取點">返回上頁取點</a>
            </div>
        </div>
    </div>
{% endblock %}